<p id="notice"><%= notice %></p>

<h1>Investigadors</h1>

<table>
  <thead>
    <tr>
      <th>Cedula</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investigadors.each do |investigador| %>
      <tr>
        <td><%= investigador.cedula %></td>
        <td><%= investigador.nombres %></td>
        <td><%= investigador.apellidos %></td>
        <td><%= link_to 'Show', investigador %></td>
        <td><%= link_to 'Edit', edit_investigador_path(investigador) %></td>
        <td><%= link_to 'Destroy', investigador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investigador', new_investigador_path %>
