<div class="block-form-content">
  <%= form_with(model: presupuesto) do |form| %>
    <% if presupuesto.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(presupuesto.errors.count, "error") %> prohibited this presupuesto from being saved:</h2>

        <ul>
          <% presupuesto.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :rubro_id %>
      <%= form.collection_select :rubro_id, rubros, :id, :nombre %>
    </div>

    <div class="field">
      <%= form.label :proyecto_id %>
      <%= form.collection_select :proyecto_id, proyectos, :id, :numero_proyecto %>
    </div>

    <div class="field">
      <%= form.label :valor_inicial %>
      <%= form.text_field :valor_inicial %>
    </div>

    <div class="field">
      <%= form.label :disponibilidad %>
      <%= form.text_field :disponibilidad %>
    </div>

    <div class="field">
      <%= form.label :descripcion %>
      <%= form.text_area :descripcion %>
    </div>

    <div class="field">
      <%= form.label :egreso %>
      <%= form.text_field :egreso %>
    </div>

    <div class="field">
      <%= form.label :reserva %>
      <%= form.text_field :reserva %>
    </div>

    <div class="actions">
    <%= link_to 'Volver', presupuestos_path %> <%= form.submit "Guardar" %>
    </div>
  <% end %>

</div>
