<%= form_with(model: presupuesto) do |form| %>
  <% if presupuesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presupuesto.errors.count, "error") %> prohibited this presupuesto from being saved:</h2>

      <ul>
        <% presupuesto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rubro_id %>
    <%= form.text_field :rubro_id %>
  </div>

  <div class="field">
    <%= form.label :proyecto_id %>
    <%= form.text_field :proyecto_id %>
  </div>

  <div class="field">
    <%= form.label :valor_inicial %>
    <%= form.text_field :valor_inicial %>
  </div>

  <div class="field">
    <%= form.label :disponibilidad %>
    <%= form.text_field :disponibilidad %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="field">
    <%= form.label :egreso %>
    <%= form.text_field :egreso %>
  </div>

  <div class="field">
    <%= form.label :reserva %>
    <%= form.text_field :reserva %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
