<div class="jumbotron">
  <div class="header">
    <h1 class="display-4">Presupuesto por Rubro</h1>
    <%= form_with url: presupuestos_path, method: :get do |form| %>
      <% option = params[:reporte] %>
      <%= form.label :query, "Filtrar" %>
      <%= form.hidden_field :reporte, value: option %>
      <%= form.select :by, @options %>
      <%= form.submit "Filtrar" %>
    <% end %>
  </div>
  <%= bar_chart data, stacked_bar_opts%>
</div>
<br>
