<div class="jumbotron">
  <p id="notice"><%= notice %></p>
  <div class="top-container">
    <h1>Presupuesto por Grupo</h1>
    <%= form_with url: presupuestos_path, method: :get do |form| %>
      <%= form.label :query, "Filtrar" %>
      <%= form.hidden_field :reporte, value: @report %>
      <%= form.select :by, @options, selected: @filter_option %>
      <%= form.submit "Filtrar" %>
    <% end %>
  </div>
  <%= bar_chart data, stacked_bar_opts%>
</div>
<br>
