<% require 'money' %>
<% if @por_proyecto.present? %>
  <%= render 'por_proyectos', data: @data %>
<% elsif @por_facultad.present? %>
  <%= render 'por_facultades', data: @data %>
<% elsif @por_grupo.present? %>
  <%= render 'por_grupos', data: @data %>
<% elsif @por_rubro.present? %>
  <%= render 'por_rubros', data: @data %>
<% end %>
<% if @presupuestos.present? %>
  <p id="notice"><%= notice %></p>
  <h1>Lista de Presupuestos</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rubro</th>
        <th>Proyecto</th>
        <th>Descripcion</th>
        <th>Valor inicial</th>
        <th>Disponibilidad</th>
        <th>Egreso</th>
        <th>Reserva</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @presupuestos.each do |presupuesto| %>
        <tr>
          <td><%= presupuesto.rubro_id %></td>
          <td><%= presupuesto.proyecto_id %></td>
          <td><%= presupuesto.descripcion %></td>
          <td><%= Money.from_amount(presupuesto.valor_inicial, 'COP').format %></td>
          <td><%= Money.from_amount(presupuesto.disponibilidad, 'COP').format %></td>
          <td><%= Money.from_amount(presupuesto.egreso, 'COP').format %></td>
          <td><%= Money.from_amount(presupuesto.reserva, 'COP').format %></td>
          <td><%= link_to 'Ver', presupuesto %></td>
          <td><%= link_to 'Editar', edit_presupuesto_path(presupuesto) %></td>
          <td><%= link_to 'Borrar', presupuesto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Registrar Presupuesto', new_presupuesto_path %>
<% end %>
