<p id="notice"><%= notice %></p>

<h1>Grupos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Facultad</th>
      <th>Programa</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupos.each do |grupo| %>
      <tr>
        <td><%= grupo.nombre %></td>
        <td><%= grupo.facultad_id %></td>
        <td><%= grupo.programa_id %></td>
        <td><%= link_to 'Ver', grupo %></td>
        <td><%= link_to 'Editar', edit_grupo_path(grupo) %></td>
        <td><%= link_to 'Borrar', grupo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grupo', new_grupo_path %>
