<p id="notice"><%= notice %></p>

<p>
  <strong>Cedula:</strong>
  <%= @investigador.cedula %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @investigador.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @investigador.apellidos %>
</p>

<%= link_to 'Editar', edit_investigadore_path(@investigador) %> |
<%= link_to 'Volver', investigadores_path %>
