<p id="notice"><%= notice %></p>
<div class="top-container">
    <h1>Presupuesto Inicial Proyectos</h1>
    <%= link_to 'Crear Presupuesto Inicial Proyecto', new_presupuesto_inicial_proyecto_path, :class => "badge badge-primary" %>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Rubro</th>
      <th>Proyecto</th>
      <th>Descripcion</th>
      <th>Valor inicial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presupuesto_inicial_proyectos.each do |presupuesto_inicial_proyecto| %>
      <tr>
        <th scope="row"><%= presupuesto_inicial_proyecto.rubro_id %></td>
        <td><%= presupuesto_inicial_proyecto.proyecto_id %></td>
        <td><%= presupuesto_inicial_proyecto.descripcion %></td>
        <td class="pr-money"><%= Money.from_amount(presupuesto_inicial_proyecto.valor_inicial, 'COP').format %></td>
        <td><%= link_to 'Ver', presupuesto_inicial_proyecto, :class => "badge badge-info" %></td>
        <td><%= link_to 'Editar', edit_presupuesto_inicial_proyecto_path(presupuesto_inicial_proyecto), :class => "badge badge-secondary" %></td>
        <td><%= link_to 'Borrar', presupuesto_inicial_proyecto, method: :delete, data: { confirm: 'Are you sure?' }, :class => "badge badge-danger" %></td>
      </tr>
    <% end %>
    <tr class="pr-totales">
      <td></td>
      <td></td>
      <td class="label">Totales</td>
      <td><div class="value"><%= Money.from_amount(@total_valor_inicial, 'COP').format %></div></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) %>
<br>
